<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div class="container fo" th:fragment="content">

    <script th:src="@{/js/daterangepicker.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>


    <div class="row">
        <h3 th:inline="text">[[#{label.auditLog}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>

        <form id="search" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q"
                           th:attr="placeholder=#{placeholder.search.auditLog.keyword}" autofocus="autofocus"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.periodDate}]]</label>
                <div class="col-sm-8" id="sandbox-container">
                    <input type="text" class="form-control" id="c" name="daterange" onkeydown="return false"/>
                </div>
            </div>

            <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.activityType}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a">
                        <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <!--  <option th:each="activityType : ${activityType}" th:value="${activityType}" th:text="${activityName}"></option> -->
                        <option value="1">Login / Logout Web</option>
                        <option value="2">Buka Halaman Web</option>
                        <option value="3">Tambah / Update Data</option>
                        <option value="5">Monitoring Koneksi</option>
                        <option value="6">Store And Forward</option>
                        <option value="7">Manual Injector</option>
                        <!--  <option value="4" >Hapus Cache</option> -->
                    </select>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>

        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-activityType=""
               data-rangeDate="">
            <thead>
            <tr>
             	<th th:inline="text">[[#{label.created.date}]]</th>
                <th th:inline="text">[[#{label.activityType}]]</th>
                <th th:inline="text">[[#{label.description}]]</th>
                <th th:inline="text">[[#{label.created.by}]]</th>
               <th th:inline="text">[[#{label.reffNo}]]</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
            	<th th:inline="text">[[#{label.created.date}]]</th>
                <th th:inline="text">[[#{label.activityType}]]</th>
                <th th:inline="text">[[#{label.description}]]</th>
                <th th:inline="text">[[#{label.created.by}]]</th>
                <th th:inline="text">[[#{label.reffNo}]]</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            timePicker: false,
            "linkedCalendars": false,
            use24hours: true,
            autoUpdateInput: false,
            //timePickerIncrement: 5,
             locale: {
                format: 'DD/MM/YYYY',
               	cancelLabel: 'Clear'
            } 
        });
        
        $('input[name="daterange"]').on(
				'apply.daterangepicker',
				function(ev, picker) {
					$(this).val(
							picker.startDate.format('DD/MM/YYYY') + ' - '
									+ picker.endDate.format('DD/MM/YYYY'));
				});

		$('input[name="daterange"]').on('cancel.daterangepicker',
				function(ev, picker) {
					$(this).val('');
				});
        
    });
        $(document).ready(function(){
            var table=$('#table').DataTable({
            	order : [ [0,"desc"] ],
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.a=$('#table').data('activityType');
                        d.c=$('#table').data('rangeDate');
                    },
                    url:/*[[@{/home/auditLog/get-list}]]*/''
                },
//              columnDefs:[
//                    {"orderable":false,"targets":3}
//              ],
                lengthChange:true,
                ordering:true,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                $('#table').data('activityType', $('#a').val());
                $('#table').data('rangeDate', $("#c").val());
                table.ajax.reload();
                return false;
            });
        });  

    </script>
</div>
</html>