<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 class="centered" th:inline="text">[[#{label.signup}]]</h3>
        <p class="centered" th:inline="text">[[#{message.form.signup}]]</p>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${user}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${user}" th:action="@{/home/manage/registration}">
          <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.role}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="role" th:field="*{role}">
                   <!-- <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option> -->  
                        <option th:each="role : ${roles}" th:value="${role.authority}" th:text="${role.authority}"></option>
                    </select>
                </div>
            </div>
               <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.location}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="location" th:field="*{location.locationCode}">
                   <!-- <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option> -->  
                        <option th:each="location : ${locationes}" th:value="${location.locationCode}" th:text="${location.locationCode}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('username')} ? ' has-error'">
                <label for="username" class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.username},maxlength=*{maxLengthUsername}" autofocus="autofocus" required="required"/>
                    <!--<sigma:textfield class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.username},maxlength=*{maxLengthUsername}" autofocus="autofocus" val-required="true" val-maxlength="[[*{maxLengthUsername}]]" val-minlength="[[*{minLengthUsername}]]"/>-->
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('email')} ? ' has-error'">
                <label for="email" class="col-sm-4 control-label" th:inline="text">[[#{label.email}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" th:field="*{email}" th:attr="placeholder=#{placeholder.email},maxlength=*{maxLengthEmail}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.password},maxlength=*{maxLengthPassword}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordConfirm')} ? ' has-error'">
                <label for="password_confirm" class="col-sm-4 control-label" th:inline="text">[[#{label.password.confirm}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password_confirm" th:field="*{passwordConfirm}" th:attr="placeholder=#{placeholder.password.confirm},maxlength=*{maxLengthPassword}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
                <label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.name}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:attr="placeholder=#{placeholder.name},maxlength=*{maxLengthName}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('address')} ? ' has-error'">
                <label for="address" class="col-sm-4 control-label" th:inline="text">[[#{label.address}]]</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="address" th:field="*{address}" th:attr="placeholder=#{placeholder.address},maxlength=*{maxLengthAddress}" required="required"></textarea>
                    <span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('postal')} ? ' has-error'">
                <label for="postal" class="col-sm-4 control-label" th:inline="text">[[#{label.postal}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="postal" th:field="*{postal}" th:attr="placeholder=#{placeholder.postal},maxlength=*{maxLengthPostal}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('postal')}" th:errors="*{postal}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('city')} ? ' has-error'">
                <label for="city" class="col-sm-4 control-label" th:inline="text">[[#{label.city}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="city" th:field="*{city}" th:attr="placeholder=#{placeholder.city},maxlength=*{maxLengthCity}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('province')} ? ' has-error'">
                <label for="province" class="col-sm-4 control-label" th:inline="text">[[#{label.province}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="province" th:field="*{province}" th:attr="placeholder=#{placeholder.province},maxlength=*{maxLengthProvince}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phoneMobile')} ? ' has-error'">
                <label for="phone_mobile" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.mobile}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone_mobile" th:field="*{phoneMobile}" th:attr="placeholder=#{placeholder.phone.mobile},maxlength=*{maxLengthPhoneMobile}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('phoneMobile')}" th:errors="*{phoneMobile}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phone')} ? ' has-error'">
                <label for="phone" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.home}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" th:attr="placeholder=#{placeholder.phone},maxlength=*{maxLengthPhone}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('captcha')} ? ' has-error'">
                <label for="captcha" class="col-sm-4 control-label" th:inline="text">[[#{label.captcha}]]</label>
                <div class="col-sm-8">
                    <div class="captcha-input-wr">
                        <div class="captcha-img"><img id="icaptcha" th:src="@{/captcha-registration}"/></div>
                        <div class="captcha-input"><input type="text" class="form-control" id="captcha" th:field="*{captcha}" th:attr="placeholder=#{placeholder.captcha},maxlength=*{maxLengthDefaultCaptcha}" required="required"/></div>
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}"></span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.signup}]]</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            //$("form").validate();
            var url = /*[[@{/captcha-registration}]]*/ '/captcha-registration';
            $("#icaptcha").click(function() {
                $(this).hide()
                        .attr('src', url + '?' + Math.floor(Math.random()*100)                                                                      )
                        .fadeIn();
                $('#captcha').val('');
                $('#captcha').focus();
            });
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
        });
    </script>
</div>
</html>