<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
	<div class="row" th:object="${user}">
		<h3 th:if="*{userId} == null" th:inline="text">[[#{label.add.user}]]</h3>
		<h3 th:if="*{userId} != null" th:inline="text">[[#{label.edit.user}]]</h3>
		<div class="box-body" th:if="${okMessage != null and okMessage != ''}">
			<div class="alert alert-info alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${okMessage}]]
			</div>
		</div>
		<div class="box-body"
			th:if="${errorMessage != null and errorMessage != ''}">
			<div class="alert alert-danger alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${errorMessage}]]
			</div>
		</div>
		<div th:object="${user}">
			<div class="box-body" th:if="${#fields.hasErrors('*')}">
				<div class="alert alert-danger alert-dismissable" th:inline="text">
					<a href="#" data-dismiss="alert" class="close">&times;</a>
					<div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
				</div>
			</div>
		</div>
		<form class="form-horizontal" method="POST" th:object="${user}"
			th:action="@{/home/manage/user/add(userId=${user.userId})}">
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('username')} ? ' has-error'">
				<label th:if="*{userId} == null" for="username"
					class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]*</label>
				<label th:if="*{userId} != null" for="username"
					class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]</label>
				<div class="col-sm-8">
					<label th:if="*{userId} != null" class="col-sm-4 control-label" th:utext="*{username}"></label> <input th:if="*{userId} != null" type="hidden" id="username" th:field="*{username}" /> 
					<input th:if="*{userId} == null" type="text" class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.username.add},maxlength=*{maxLengthUsername}" autofocus="autofocus" style="text-transform: uppercase" OnKeypress="javascript:return isAlphaNumeric(event,this.value);" />
					<!--<sigma:textfield class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.username},maxlength=*{maxLengthUsername}" autofocus="autofocus" val-required="true" val-maxlength="[[*{maxLengthUsername}]]" val-minlength="[[*{minLengthUsername}]]"/>-->
					<span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
					<!--  <label for="username" h:inline="text">[[#{label.note.username}]]</label> -->
				</div>
			</div>
			
			
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
				<label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.name}]]*</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="name"
						th:field="*{name}"
						th:attr="placeholder=#{placeholder.name},maxlength=*{maxLengthName}" />
					<span class="help-block" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
			</div>
			
			<div class="form-group" th:attrappend="class=${#fields.hasErrors('jobTitle')} ? ' has-error'">
                <label for="phone" class="col-sm-4 control-label" th:inline="text">[[#{label.jobTitle}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="jobTitle" th:field="*{jobTitle}" th:attr="placeholder=#{placeholder.jobTitle},maxlength=100"/>
                    <span class="help-block" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></span>
                </div>
            </div>
           
           	 <div class="form-group" th:attrappend="class=${#fields.hasErrors('phone')} ? ' has-error'">
                <label for="phone" class="col-sm-4 control-label" th:inline="text">[[#{label.phone}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" th:attr="placeholder=#{placeholder.phone},maxlength=12" onkeypress="validate(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
            </div>
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('extension')} ? ' has-error'">
                <label for="city" class="col-sm-4 control-label" th:inline="text">[[#{label.extension}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="extension" th:field="*{extension}" th:attr="placeholder=#{placeholder.extension},maxlength=12" onkeypress="validate(event)"  />
                    <span class="help-block" th:if="${#fields.hasErrors('extension')}" th:errors="*{extension}"></span>
                </div>
            </div>
         	<div class="form-group" th:attrappend="class=${#fields.hasErrors('fax')} ? ' has-error'">
                <label for="province" class="col-sm-4 control-label" th:inline="text">[[#{label.fax}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fax" th:field="*{fax}" th:attr="placeholder=#{placeholder.fax},maxlength=12" onkeypress="validate(event)"  />
                    <span class="help-block" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}"></span>
                </div>
            </div>
            
           
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phoneMobile')} ? ' has-error'">
                <label for="phone_mobile" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.mobile}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phoneMobile" th:field="*{phoneMobile}" th:attr="placeholder=#{placeholder.phone.mobile},maxlength=*{maxLengthPhoneMobile}" onkeypress="validate(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('phoneMobile')}" th:errors="*{phoneMobile}"></span>
                </div>
            </div>
            <div class="form-group"
				th:attrappend="class=${#fields.hasErrors('email')} ? ' has-error'">
				<label for="email" class="col-sm-4 control-label" th:inline="text">[[#{label.email}]]*</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="email"
						th:field="*{email}"
						th:attr="placeholder=#{placeholder.email},maxlength=*{maxLengthEmail}" />
					<span class="help-block" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></span>
				</div>
			</div>
            
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('address')} ? ' has-error'">
				<label for="address" class="col-sm-4 control-label" th:inline="text">[[#{label.address}]]*</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="address" th:field="*{address}"
						th:attr="placeholder=#{placeholder.address},maxlength=*{maxLengthAddress}"></textarea>
					<span class="help-block" th:if="${#fields.hasErrors('address')}"
						th:errors="*{address}"></span>
				</div>
			</div>
			
			<div class="form-group" th:attrappend="class=${#fields.hasErrors('city')} ? ' has-error'">
                <label for="city" class="col-sm-4 control-label" th:inline="text">[[#{label.city}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="city" th:field="*{city}" th:attr="placeholder=#{placeholder.city}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
            </div>
            
<!-- 			<div class="form-group" th:attrappend="class=${#fields.hasErrors('level')} ? ' has-error'">
                <label for="phone" class="col-sm-4 control-label" th:inline="text">[[#{label.level}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="level" th:field="*{level}" th:attr="placeholder=#{placeholder.level},maxlength=20"/>
                    <span class="help-block" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></span>
                </div>
            </div> -->
			<div class="form-group" th:attrappend="class=${#fields.hasErrors('roles')} ? ' has-error'">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.role}]]*</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a" th:field="*{strRoles}">
                        <option th:each="role : ${allRoles}" th:value="${role.roleId}" th:text="${role.authority}"></option>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('roles')}"
						th:errors="*{roles}"></span>
                </div>
            </div>
			<hr />
			<div class="form-group">
				<div class="col-xs-12 text-right">
					<button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
					<a th:href="@{/home/manage/user}" class="btn btn-danger"
						role="button" th:inline="text">[[#{label.back}]]</a>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(document).ready(function() {
				$('form').submit(function() {
					$(this).find('button').prop('disabled', true);
				});
			});
			
			function validate(evt) {
	        	  var theEvent = evt || window.event;
	        	  var key = theEvent.keyCode || theEvent.which;
	        	  key = String.fromCharCode( key );
	        	  exclusions=[8,37,38,39,40]; /*Add exceptions here */
	   	          if(exclusions.indexOf(key)>-1){return;}
	        	  var regex = /[0-9\t\b]/;
	        	  if( !regex.test(key) ) {
	        	    theEvent.returnValue = false;
	        	    if(theEvent.preventDefault) theEvent.preventDefault();
	        	  }
	        	}
			
			function uppercase(obj){
			    obj.value = obj.value.toUpperCase();
			}
			
			function isAlphaNumeric(e){ // Alphanumeric only
	            var k;
	            document.all ? k=e.keycode : k=e.which;
	            exclusions=[8,37,38,39,40]; /*Add exceptions here */
	   	          if(exclusions.indexOf(k)>-1){return;}
	            return((k>47 && k<58)||(k>64 && k<91)||(k>96 && k<123)||k==0);
	         }
			
			/*]]>*/
		</script>
	</div>
</div>
</html>