
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div class="container fo" th:fragment="content">

	<div class="row">
		<h3 th:inline="text">[[#{label.log.message.details}]]</h3>
		<div class="box-body" th:if="${okMessage != null and okMessage != ''}">
			<div class="alert alert-info alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${okMessage}]]
			</div>
		</div>
		<div class="box-body"
			th:if="${errorMessage != null and errorMessage != ''}">
			<div class="alert alert-danger alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${errorMessage}]]
			</div>
		</div>
		
		<div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document" >
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">[[#{label.log.message.detail.resend}]]</th></h4>
			      </div>
			      <div class="modal-body" style="height:550px;">
			         <div class="form-group" >
			                <label for="sender" class="col-sm-4 control-label" th:inline="text">[[#{label.log.message.detail.resend.sender}]]</label>
			                <div class="col-sm-8">
			                      <input type="text" class="form-control" id="sender" name="sender" />
			                </div>
			                 <label for="destination" class="col-sm-4 control-label" th:inline="text">[[#{label.log.message.detail.resend.destination}]]</label>
			                  <div class="col-sm-8">
			                      <input type="text" class="form-control" id="destination" name="destination" />
			                </div>
			                 <label for="value" class="col-sm-4 control-label" th:inline="text">[[#{label.log.message.detail.resend.value}]]</label>
			                  <div class="col-sm-8">
			                      <textArea class="form-control" id="value" name="value" style="height:350px;"></textArea>
			                 </div>
			      	</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <a th:href="@{/home/log/messagelogs/resend}" class="btn btn-primary" role="button" th:inline="text" name="modalEditSave" id="modalEditSave">[[#{label.log.message.button.resend}]]</a>

			      </div>
			    </div>
			  </div>
</div>
		
		
		
		<table id="table" class="table table-hover table-striped" >
			<thead>
				<tr>
					<th th:inline="text">[[#{label.log.detail.trx.id}]]</th>
					<th th:inline="text">[[#{label.log.detail.msg.id}]]</th>
					<th th:inline="text">[[#{label.log.detail.created.date}]]</th>
					<th th:inline="text">[[#{label.log.detail.trx.type}]]</th>
					<th th:inline="text">[[#{label.log.detail.sender}]]</th>
					<th th:inline="text">[[#{label.log.detail.destination}]]</th>
					<th th:inline="text">[[#{label.log.detail.msg.type}]]</th>
					<!-- <th th:inline="text">[[#{label.log.detail.formatted.data}]]</th> -->
					<th th:inline="text">[[#{label.action}]]</th>
				</tr>
			</thead>
		</table>
		
		<div class="col-xs-12 text-right" >
                    <a th:href="@{/home/log/messagelogs}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                    			      <!-- 	<button onclick="goBack()">Go Back</button>
                    			      	<input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" /> -->
         </div>
		
		<!-- <form class="form-horizontal" method="POST" th:object="${messageId}" th:action="@{/home/log/messagelogs/resend(messageId=${messageId})}"> 
			<div class="form-group">
                <div class="col-xs-12 text-right" >
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.resend}]]</button>
                    <a th:href="@{/home/log/messagelogs}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
                <div class="col-xs-12 text-right" th:if="${#authentication.principal.authorities[0].authority}!=ADMIN">
                    <a th:href="@{/home/log/messagelogs}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
                <input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
            </div>
		</form> -->
		 
		
	</div>

	<script type="text/javascript" th:inline="javascript">
	
	
		function goBack() {
		  window.history.back();
		}
	
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                    	  d.trxId=[[${trxId}]];
                    },
                    url:/*[[@{/home/log/messagelogs/get-list-log-details}]]*/''
                },
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                /* paging:false, */
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                $('#table').data('activityType', $('#a').val());
                $('#table').data('rangeDate', $("#c").val());
                table.ajax.reload();
                return false;
            });
/*             
            $('a').click(function(e){
            	var dataSearch = $('#dataSearch').val();
   				var href = $(this).attr("href") + "?dataSearch=" + encodeURIComponent(dataSearch);
   				e.preventDefault();
   				location.href = href;
            }); */
        });  
        
    $('#buttonModal').on('show.bs.modal', function (event) {
    	  var button = $(event.relatedTarget); // Button that triggered the modal
    	  var id = button.data('id'); // Extract info from data-* attributes
    	  var sender = button.data('sender');
    	  var destination = button.data('destination');
    	  var value = button.data('value');
    	  var action = button.data('event');
    	  var link = button.data('link'); 
    	      	 
    	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    	  var modal = $(this);
    	  //modal.find('.modal-body').text(id);
    	  if(action=='resend')
    		{
    	  		modal.find('.modal-title').text([[#{label.log.message.resend}]]);
    	  		modal.find('.modal-body labelname').text([[#{label.param.name}]]);
    	  		modal.find('.modal-body #sender').val(sender).attr('readonly',true);
    	  		modal.find('.modal-body labelgrup').text([[#{label.param.grup}]]);
    	  		modal.find('.modal-body #destination').val(destination).attr('readonly',true);
    	  		modal.find('.modal-body labelvalue').text([[#{label.param.value}]]);
    	  		modal.find('.modal-body #value').val(value).attr('readonly',true);
    	  		modal.find('.modal-footer #modalEditSave').show();
    	  
    		} 
    	  else if(action=='view')
    		  {
    		  	modal.find('.modal-title').text([[#{label.log.message.resend}]]);
  	  			modal.find('.modal-body labelname').text([[#{label.param.name}]]);
  	  			modal.find('.modal-body #sender').val(sender).attr('readonly',true);
  	  			modal.find('.modal-body labelgrup').text([[#{label.param.grup}]]);
  	  			modal.find('.modal-body #destination').val(destination).attr('readonly',true);
  	  			modal.find('.modal-body labelvalue').text([[#{label.param.value}]]);
  	  			modal.find('.modal-body #value').val(value).attr('readonly',true);
  	  			modal.find('.modal-footer #modalEditSave').hide();
    		  }
    	  var temp = modal.find('.btn-primary').attr('href');
    	  modal.find('.btn-primary').attr('href',link);
    	})      
    </script>
</div>
</html>