<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

      
<div class="container fo" th:fragment="content">   
<div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><th th:inline="text">[[#{label.manage.param.edit.value}]]</th></h4>
      </div>
      <div class="modal-body">
         <div class="form-group" >
                <label for="paramName" class="col-sm-4 control-label" th:inline="text">[[#{label.param.name}]]</label>
                <div class="col-sm-8">
                      <input type="text" class="form-control" id="name" name="name" maxlength="30"/>
                </div>
                 <label for="paramGroup" class="col-sm-4 control-label" th:inline="text">[[#{label.param.group}]]</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" id="group" name="group" maxlength="30"/>
                </div>
                <label for="paramDescription" class="col-sm-4 control-label" th:inline="text">[[#{label.param.description}]]</label>
                  <div class="col-sm-8">
                      <textArea class="form-control" id="description" name="description" maxlength="50"></textArea>
                  </div>
                 <label for="paramValue" class="col-sm-4 control-label" th:inline="text">[[#{label.param.value}]]</label>
                  <div class="col-sm-8">
                  	  <input type="text" class="form-control" id="value" name="value"/>
                      <!-- <textArea class="form-control" id="value" name="value" ></textArea> -->
                      <!-- <input type="password" class="form-control" id="password"/> -->
                 </div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a th:href="@{/home/manage/parameter/edit}" class="btn btn-primary" role="button" th:inline="text" name="modalEditSave" id="modalEditSave">[[#{label.save}]]</a>
      </div>
    </div>
  </div>
</div>
    
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.parameter}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <form id="search" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.parameter.keyword}" autofocus="autofocus"/>
                </div>
            </div>
            <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.group}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a">
                        <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <option th:each="paramGroup : ${paramGroup}" th:value="${paramGroup}" th:text="${paramGroup}"></option>
                    </select>
                </div>
            </div> 
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>             

        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
                    <th th:align="right" th:inline="text">[[#{label.group}]]</th>
                    <th th:align="right" th:inline="text">[[#{label.name}]]</th>
                    <th th:align="right" th:inline="text">[[#{label.description}]]</th>
                    <th th:align="right" th:inline="text">[[#{label.value}]]</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>   
   
  <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.a=$('#table').data('paramGroup');
                    },
                    url:/*[[@{/home/manage/parameter/get-list}]]*/''
                },
                lengthChange:false,
                ordering:true,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                $('#table').data('paramGroup', $('#a').val());
                table.ajax.reload();
                return false;
            });
          
            
            $("#modalEditSave").click(function(e){
            	//ambil nilai dari input di modal body
            	var input = $('#value').val();
            	 //alert("Hello! I am an alert box!" + input);
            	//var input2 = $('#description').val();
            	//var input3 = $('#datetimepicker4').val();
            	var url = e.target.href;

            	if(input != ""){
            		//var properUrl =  "http://localhost/mysite/mypage?param="+ encodeURIComponent(q1) +"&b=" + encodeURIComponent(q2);
            		//escapeHtml(e.target.href = url + [[#{util.url.get.paramEdit}]]+input);
            		e.target.href = url + [[#{util.url.get.paramEdit}]]+encodeURIComponent(input);
            		//alert("url : " + e.target.href)
            		//alert("target  : " + e.target.href );
            		//e.target.href = 
            	}
             });
        });    
        
        $('#buttonModal').on('show.bs.modal', function (event) {
      	  var button = $(event.relatedTarget); // Button that triggered the modal
      	  var id = button.data('id'); // Extract info from data-* attributes
      	  var name = button.data('username');
      	  var group = button.data('group');
      	  var description = button.data('description');
      	  var action = button.data('event');
      	  var link = button.data('link'); 
      	  var value = button.data('value');
      	 // var input = document.getElementByID('value');
      	  //input.type = "password"
          //alert("Hello! I am an alert box!! " + name);
      	 
      	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      	  var modal = $(this);
      	  //modal.find('.modal-body').text(id);
      	  if(action=='edit')
      		{
      	  		modal.find('.modal-title').text([[#{label.manage.param.edit.value}]]);
      	  		modal.find('.modal-body labelname').text([[#{label.param.name}]]);
      	  		modal.find('.modal-body #name').val(name).attr('readonly',true);
      	  		modal.find('.modal-body labelgrup').text([[#{label.param.grup}]]);
      	  		modal.find('.modal-body #group').val(group).attr('readonly',true);
      	  		modal.find('.modal-body labeldescription').text([[#{label.param.description}]]);
      	  		modal.find('.modal-body #description').val(description).attr('readonly',true);
      	  		modal.find('.modal-body labelvalue').text([[#{label.param.value}]]);
      	  		if(name=='passwordRest'){
      	  			document.getElementById('value').type = 'password';
      	  			modal.find('.modal-body #value').val(value).attr('readonly',false);
      	  		}
      	  		if(name!='passwordRest'){
      	  			document.getElementById('value').type = 'text';
      	  			modal.find('.modal-body #value').val(value).attr('readonly',false);
      	  		}
      	  		
      		} 
      	  var temp = modal.find('.btn-primary').attr('href');
      	  modal.find('.btn-primary').attr('href',link);
      	})          	
        	
      	$('#datetimepicker4').datetimepicker({
      		format:'HH:mm:ss'
        });
           
        
    </script>
</div>
</html>