<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 class="centered" th:inline="text">Parameter Config</h3>
        <p class="centered" th:inline="text">Konfigurasi Parameter Web Dashboard</p>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${user}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:action="@{/home/param}">
          <div class="form-group">
                <label for="a" class="col-sm-2 control-label" th:inline="text">Agent Time Interval</label>
                <div class="col-sm-3">
                	<input type="text" class="form-control" id="time" size="10" />
                </div>
                <div class="col-sm-1">
                     <select class="form-control" id="role">
                      <option value="sec">sec</option>
  						<option value="min">min</option>
                    </select>
                </div>
            </div>
               
            <div class="form-group">
                <label for="poin" class="col-sm-2 control-label" th:inline="text">Point to IDR </label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="username"  autofocus="autofocus" size="10"/>
                </div>
                <div><label for="poin" class="col-sm-1 control-label" th:inline="text"> IDR </label></div>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="money"  autofocus="autofocus" size="15" />
                </div>
            </div>
    
    <div class="row">
        <h3 class="centered" th:inline="text">Promo Produk</h3>
        <table id="table" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th th:inline="text">No</th>
                    <th th:inline="text">Nama Produk</th>
                    <th th:inline="text">Jenis / Ukuran</th>
                    <th th:inline="text">Harga</th>
                    <th th:inline="text">Poin</th>
                 </tr>
            </thead>
            <tbody>
              <tr>
   				 <td class="centered">1</td>
    			<td class="centered">Formula 44</td>		
    			<td class="centered">Botol Kemasan 240 ml</td>
    			<td class="centered">Rp. 25.000 </td>	
    			<td class="centered">50</td>	
  			 </tr>
  		  </tbody>
        </table>
    </div>
        </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            //$("form").validate();
            var url = /*[[@{/captcha-registration}]]*/ '/captcha-registration';
            $("#icaptcha").click(function() {
                $(this).hide()
                        .attr('src', url + '?' + Math.floor(Math.random()*100)                                                                      )
                        .fadeIn();
                $('#captcha').val('');
                $('#captcha').focus();
            });
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
        });
    </script>
</div>
</html>