<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 th:inline="text">[[#{label.profile}]]</h3>
        <p th:inline="text">[[#{message.form.change.profile}]]</p>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${user}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${user}" th:action="@{/home/profile}">
        
          <div  th:if="*{matchDefault} != true">
          	<div  th:if="*{expiryDays} != true">
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]</label>
                <div class="col-sm-8">
                    <label class="control-label" th:utext="*{username}"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.email}]]</label>
                <div class="col-sm-8">
                    <label class="control-label" th:utext="*{email}"></label>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
                <label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.name}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:attr="placeholder=#{placeholder.name},maxlength=100" autofocus="autofocus"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('address')} ? ' has-error'">
                <label for="address" class="col-sm-4 control-label" th:inline="text">[[#{label.address}]]</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="address" th:field="*{address}" th:attr="placeholder=#{placeholder.address},maxlength=100"></textarea>
                    <span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </div>          
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('extension')} ? ' has-error'">
                <label for="city" class="col-sm-4 control-label" th:inline="text">[[#{label.extension}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="extension" th:field="*{extension}" th:attr="placeholder=#{placeholder.extension},maxlength=12"  onkeypress="validate(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('extension')}" th:errors="*{extension}"></span>
                </div>
            </div>
         	<div class="form-group" th:attrappend="class=${#fields.hasErrors('fax')} ? ' has-error'">
                <label for="province" class="col-sm-4 control-label" th:inline="text">[[#{label.fax}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fax" th:field="*{fax}" th:attr="placeholder=#{placeholder.fax},maxlength=12"  onkeypress="validate(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phone')} ? ' has-error'">
                <label for="phone_mobile" class="col-sm-4 control-label" th:inline="text">[[#{label.phone}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" th:attr="placeholder=#{placeholder.phone},maxlength=12"  onkeypress="validate(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phoneMobile')} ? ' has-error'">
                <label for="phone_mobile" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.mobile}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phoneMobile" th:field="*{phoneMobile}" th:attr="placeholder=#{placeholder.phone.mobile},maxlength=*{maxLengthPhoneMobile}"  onkeypress="validate(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('phoneMobile')}" th:errors="*{phoneMobile}"></span>
                </div>
            </div>
           <div class="form-group" th:attrappend="class=${#fields.hasErrors('jobTitle')} ? ' has-error'">
                <label for="phone" class="col-sm-4 control-label" th:inline="text">[[#{label.jobTitle}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="jobTitle" th:field="*{jobTitle}" th:attr="placeholder=#{placeholder.jobTitle},maxlength=100"/>
                    <span class="help-block" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></span>
                </div>
            </div>
            
            <hr/>
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordOld')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password.old}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="passwordOld" th:field="*{passwordOld}" th:attr="placeholder=#{placeholder.password.old},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.password},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <label for="password" th:inline="text">[[#{label.note.password}]]</label>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordConfirm')} ? ' has-error'">
                <label for="password_confirm" class="col-sm-4 control-label" th:inline="text">[[#{label.password.confirm}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password_confirm" th:field="*{passwordConfirm}" th:attr="placeholder=#{placeholder.password.confirm},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>
            </div>
            <hr/>
            
		</div>
		</div>
		
		<div th:if="*{matchDefault} == true" >	
            <hr/>
            <div>
           	<h4 th:inline="text">[[#{label.change.password.default}]]</h4>
          <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordOld')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password.old}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="passwordOld" th:field="*{passwordOld}" th:attr="placeholder=#{placeholder.password.old},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.password},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <label for="password" th:inline="text">[[#{label.note.password}]]</label>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordConfirm')} ? ' has-error'">
                <label for="password_confirm" class="col-sm-4 control-label" th:inline="text">[[#{label.password.confirm}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password_confirm" th:field="*{passwordConfirm}" th:attr="placeholder=#{placeholder.password.confirm},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>
            </div>
            </div>
            <hr/>
          </div>
          

          <div th:if="*{matchDefault} == false"  >	
            <hr/>
            <div th:if="*{expiryDays} == true">
            	<h4 th:if="*{expiryDays} == true" th:inline="text">[[#{label.change.password.expire.days}]]</h4>
          <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordOld')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password.old}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="passwordOld" th:field="*{passwordOld}" th:attr="placeholder=#{placeholder.password.old},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.password},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <label for="password" th:inline="text">[[#{label.note.password}]]</label>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordConfirm')} ? ' has-error'">
                <label for="password_confirm" class="col-sm-4 control-label" th:inline="text">[[#{label.password.confirm}]]</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password_confirm" th:field="*{passwordConfirm}" th:attr="placeholder=#{placeholder.password.confirm},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>
            </div>
            </div>
            <hr/>
          </div>
          
          
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                     <a th:href="@{/home}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            //$("form").validate();
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
        });
        
        function validate(evt) {
      	  var theEvent = evt || window.event;
      	  var key = theEvent.keyCode || theEvent.which;
      	  key = String.fromCharCode( key );
      	  var regex = /[0-9\t\b]/;
      	  if( !regex.test(key) ) {
      	    theEvent.returnValue = false;
      	    if(theEvent.preventDefault) theEvent.preventDefault();
      	  }
      	}
    </script>
</div>
</html>