<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 th:inline="text">[[#{label.request.reset.password}]]</h3>
        <p th:inline="text">[[#{message.form.request.reset.password}]]</p>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${user}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${user}" th:action="@{/reset-password-request}">
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('email')} ? ' has-error'">
                <label for="email" class="col-sm-4 control-label" th:inline="text">[[#{label.email}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" th:field="*{email}" th:attr="placeholder=#{placeholder.email},maxlength=*{maxLengthEmail}" autofocus="autofocus" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('captcha')} ? ' has-error'">
                <label for="captcha" class="col-sm-4 control-label" th:inline="text">[[#{label.captcha}]]</label>
                <div class="col-sm-8">
                    <div class="captcha-input-wr">
                        <div class="captcha-img"><img id="icaptcha" th:src="@{/captcha-reset-password}"/></div>
                        <div class="captcha-input"><input type="text" class="form-control" id="captcha" th:field="*{captcha}" th:attr="placeholder=#{placeholder.captcha},maxlength=*{maxLengthDefaultCaptcha}" required="required"/></div>
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}"></span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.request.reset.password}]]</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            //$("form").validate();
            var url = /*[[@{/captcha-reset-password}]]*/ '/captcha-reset-password';
            $("#icaptcha").click(function() {
                $(this).hide()
                        .attr('src', url + '?' + Math.floor(Math.random()*100)                                                                      )
                        .fadeIn();
                $('#captcha').val('');
                $('#captcha').focus();
            });
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
        });
    </script>
</div>
</html>