<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 th:inline="text">[[#{label.reset.password}]]</h3>
        <p th:if="${session.requestResetPasswordUser != null}" th:inline="text">[[#{message.form.reset.password}]]</p>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:if="${session.requestResetPasswordUser != null}">
            <div th:object="${user}">
                <div class="box-body" th:if="${#fields.hasErrors('*')}">
                    <div class="alert alert-danger alert-dismissable" th:inline="text">
                        <a href="#" data-dismiss="alert" class="close">&times;</a>
                        <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                    </div>
                </div>
            </div>
            <form class="form-horizontal" method="POST" th:object="${user}" th:action="@{/reset-password}">
                <div class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                    <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password}]]</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.password},maxlength=*{maxLengthPassword}" autofocus="autofocus" required="required"/>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                </div>
                <div class="form-group" th:attrappend="class=${#fields.hasErrors('passwordConfirm')} ? ' has-error'">
                    <label for="password_confirm" class="col-sm-4 control-label" th:inline="text">[[#{label.password.confirm}]]</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password_confirm" th:field="*{passwordConfirm}" th:attr="placeholder=#{placeholder.password.confirm},maxlength=*{maxLengthPassword}" required="required"/>
                        <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.reset.password}]]</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript" th:inline="javascript">
                $(document).ready(function() {
                    //$("form").validate();
                    $('form').submit(function(){
                        $(this).find('button').prop('disabled',true);
                    });
                });
            </script>
        </div>
    </div>
</div>
</html>