<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
	<div class="row">
		<div th:object="${group}">
			<h3 th:if="*{id}!=null" th:inline="text">[[#{label.edit.rest.group}]]</h3>
			<h3 th:if="*{id}==null" th:inline="text">[[#{label.add.rest.group}]]</h3>
		</div>

		<div class="box-body" th:if="${okMessage != null and okMessage != ''}">
			<div class="alert alert-info alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${okMessage}]]
			</div>
		</div>
		<div class="box-body"
			th:if="${errorMessage != null and errorMessage != ''}">
			<div class="alert alert-danger alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${errorMessage}]]
			</div>
		</div>
		<div th:object="${group}">
			<div class="box-body" th:if="${#fields.hasErrors('*')}">
				<div class="alert alert-danger alert-dismissable" th:inline="text">
					<a href="#" data-dismiss="alert" class="close">&times;</a>
					<div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
				</div>
			</div>
		</div>
		<form class="form-horizontal" method="POST" th:object="${group}"
			th:action="@{/home/settings/rest/group/add(groupId=${group.id})}">

			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
				<label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.group.name}]]*</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="name"
						th:field="*{name}"
						th:attr="placeholder=#{placeholder.rest.group.name},maxlength=*{50}"
						autofocus="autofocus" /> <span class="help-block"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('description')} ? ' has-error'">
				<label for="description" class="col-sm-4 control-label"
					th:inline="text">[[#{label.rest.group.description}]]</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="description"
						th:field="*{description}"
						th:attr="placeholder=#{placeholder.rest.group.desctiption},maxlength=*{255}" />
					<span class="help-block"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			<!--     
	       <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
             <label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.group.status}]]</label>
             	<div class="col-sm-8">
            		<select id="status"  th:field="*{status}" class="form-control">
                       <option th:value="true" th:text="#{label.rest.group.status.true}" ></option>
                       <option th:value="false" th:text="#{label.rest.group.status.false}" ></option>
					</select>					
				</div>
            </div>   -->

			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('strGroupServices')} ? ' has-error'">
				<label for="strGroupServices" class="col-sm-4 control-label"
					th:inline="text">[[#{label.rest.group.serviceList}]]*</label>
				<div class="col-sm-8">
					<select id="strGroupServices" th:field="*{strGroupServices}"
						multiple="multiple" style="width: 100%">
						<option th:each="service : ${allServices}"
							th:value="${service.id}" th:text="${service.name} + '-' + ${service.description}"></option>
					</select> <span class="help-block"
						th:if="${#fields.hasErrors('strGroupServices')}"
						th:errors="*{strGroupServices}"></span>

				</div>
			</div>

			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
				<label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
				<div class="col-sm-8">
					<input type="checkbox" th:field="*{status}"
						th:text="#{label.endpoint.status.true}"></input>
				</div>
			</div>



			<div class="form-group">
				<div class="col-xs-12 text-right">
					<button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
					<a th:href="@{/home/settings/rest/group}" class="btn btn-danger"
						role="button" th:inline="text">[[#{label.back}]]</a>
				</div>
			</div>
			<input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
		</form>
	</div>

	<script type="text/javascript" th:inline="javascript">    
        $(document).ready(function() {
        	var no = 1;
        	document.getElementById("status1").checked = true;
        	function formatSelected (state) {
       			if (!state.id) {
       		    	return state.text;
       		  	}
       		  	var $state = $(
       		    	'<span>' + no + ' : ' + state.text + '</span>'
       		  	);
       		  	no++;
       		  	return $state;
       		};
        		
        	$('#strGroupServices').select2({
        		placeholder: [[#{placeholder.rest.group.serviceList}]],
        		allowClear: true,
        		sorter: function(data) {
        	        /* Sort data using lowercase comparison */
        	        return data.sort(function (a, b) {
        	            a = a.text.toLowerCase();
        	            b = b.text.toLowerCase();
        	            if (a > b) {
        	                return 1;
        	            } else if (a < b) {
        	                return -1;
        	            }
        	            return 0;
        	        });
        	    },
        	    templateSelection: formatSelected
        	});
        	
        	$('#strGroupServices').on('change select2:unselecting select2:selecting', function (e) {
       			no = 1;
       		});
        	
        	$('a').click(function(e){
            	var dataSearch = $('#dataSearch').val();
            	console.log(dataSearch);
   				var href = $(this).attr("href") + "?dataSearch=" + encodeURIComponent(dataSearch);
   				e.preventDefault();
   				location.href = href;
            });

        });
    </script>
</div>
</html>