<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<div class="container fo" th:fragment="content">
<!-- 
<!-- <!-- Modal
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><th th:inline="text">[[#{label.modal.confirmation.role.delete}]]</th></h4>
      </div>
      <div class="modal-body">
         <div class="form-group" >
                <label for="paramAuth" class="col-sm-4 control-label" th:inline="text">[[#{label.role.auth}]]</label>
                <div class="col-sm-8">
                      <input type="text" class="form-control" id="name" name="name" maxlength="30" readonly="readonly"/>
                </div>               
        </div>
        <div class="form-group" >
                <label for="paramDesc" class="col-sm-4 control-label" th:inline="text">[[#{label.role.desc}]]</label>
                  <div class="col-sm-8">
                      <textArea class="form-control" id="desc" name="desc" maxlength="500" readonly="readonly"></textArea>
                  </div>  
        </div>
        <div class="form-group" >
                <label for="paramWarning" th:inline="text" style="color:red">[[#{label.warning.role.delete}]]</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a th:href="@{/home/manage/role/delete}" class="btn btn-primary" role="button" th:inline="text" name="modalConfirmDelete" id="modalConfirmDelete">[[#{label.delete}]]</a>
      </div>
    </div>
  </div>
</div> -->

    <div class="row">
        <h3 th:inline="text">[[#{label.manage.role}]]</h3>
        <form id="search" class="form-horizontal">
		
		<div class="form-group">
              <!--   Logged user: <span sec:authentication="name">Bob</span>
				Roles: <span sec:authentication="principal.authorities[0].authority" >[ROLE_USER, ROLE_ADMIN]</span>
				<br>Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> -->
            </div>
		
			<div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.role}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.role.keyword}" autofocus="autofocus"/>
                </div>
            </div>

            <hr/>
            <div class="form-group">
     <!--        rOLE TIDAK ADA ADD / DELETE -->
                <!-- <div class="col-xs-6 text-left" th:if="${#authentication.principal.authorities[0].authority}==ADMIN">
                    <a th:href="@{/home/manage/role/add}" class="btn btn-success" role="button" th:inline="text">[[#{label.add}]]</a>
                </div> -->
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>
        </form>
        
        <style type="text/css">
	       #table {
	           margin: 0 auto;
	           clear: both;
	           width: 100%;
	           table-layout: fixed;
	           word-wrap: break-word;	
	        }
	    </style>
    
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.role.name}]]</th>
                    <th th:inline="text">[[#{label.role.description}]]</th>
                    <th th:inline="text">[[#{label.action}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                    },
                    url:/*[[@{/home/manage/role/get-list}]]*/
                },
                   
                autoWidth: false,
                columns : [
                    { width : '25px' },
                    { width : '50px' },
                    { width : '25px' }
                  ],
                lengthChange:false,
                ordering:true,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                table.ajax.reload();
                return false;
            });
            
            $('#confirmModal').on('show.bs.modal', function (event) {
            	var modal = $(this);
            	  var button = $(event.relatedTarget); // Button that triggered the modal
              	  var id = button.data('id'); // Extract info from data-* attributes
              	  var name = button.data('name');
              	  var desc = button.data('desc');
            
              	  
              	
              	  
              	modal.find('.modal-body #name').val(name).attr('readonly',true);
              	modal.find('.modal-body #desc').val(desc).attr('readonly',true);
            	              	
              	var currentHref = modal.find('.modal-footer #modalConfirmDelete').attr('href');
              	currentHref = currentHref + "?roleId="+id;
              	modal.find('.modal-footer #modalConfirmDelete').attr('href',currentHref);
            });
        });
    </script>
</div>
</html>