textarea {
    resize:none;
}
.help-block {
    font-size:12px;
    font-style:italic;
}
.captcha-input-wr {
    display: table-row;
    width: 100%;
}
.captcha-input-wr div {
    display: table-cell;
}
.captcha-img {
    padding-right: 8px;
    min-width: 100px;
}
.captcha-img img {cursor: pointer}
.captcha-input {
    vertical-align: middle;
    width: 100%
}

.text-uppercase {
    text-transform: uppercase;
}

/* Buat ngehide element di select2 yang udah kepilih */
.select2-results__option[aria-selected="true"] {
	display: none;
}