/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: SPOT - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
/* FONTS */
/* @import url(http://fonts.googleapis.com/css?family=Georgia:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Arial:400,300,700,900); */


/* OVERALL ASPECT */

body {
    font-family: "Georgia";
    font-weight: 400;
    font-size: 16px;
    color: #505050;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #505050;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #e8aaa9;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.dropdown-menu a {
	color: #303030;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
	color: #e8aaa9;
}
.navbar li.active a {
	color:#e8aaa9;
}


 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 600;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-box-shadow: 0 0px 1px #c6c6c2;
    -moz-box-shadow: 0 0px 1px #c6c6c2;
    box-shadow: 0 0px 1px #c6c6c2;
	background-color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #E6E6E6;
}
.navbar-inverse {
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #ff7878
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

ul.nav li.bg-darkblue a {
  background: #E0E0E0;
  color: #a11815;
}
ul.nav li.bg-blue a {
  background: #a11815;
  color: #fff;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/banner.jpg) no-repeat fixed;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#headerwrap.home {
	background-image: url(../img/home-bg.jpg) !important;
}
/* login error */
#loginerror {
background: #BC0B0B; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #BC0B0B 0%, #ED9595 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BC0B0B), color-stop(100%,#ED9595)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #BC0B0B 0%,#ED9595 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #BC0B0B 0%,#ED9595 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #BC0B0B 0%,#ED9595 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #BC0B0B 0%,#ED9595 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC0B0B', endColorstr='#ED9595',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	margin-top: -10px;
	padding-top:20px;
	padding-bottom: 60px;
	text-align:center;
	width: 100%;
}

#loginerrornew {
background: #BC0B0B; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #BC0B0B 0%, #ED9595 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BC0B0B), color-stop(100%,#ED9595)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #BC0B0B 0%,#ED9595 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #BC0B0B 0%,#ED9595 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #BC0B0B 0%,#ED9595 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #BC0B0B 0%,#ED9595 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC0B0B', endColorstr='#ED9595',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	margin-top: -10px;
	padding-top:20px;
	padding-bottom: 60px;
	text-align:center;
	width: 100%;
}

.boarderror {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 8px;
	margin-top: 60px;
	padding: 20px;
}
.textmsg {
	margin: 20px 10px;
	color:#C00;}

/* dg */
#dg {
	padding-top: 35px;
	padding-bottom: 35px;
}
/* Red Wrap */
#r {
	background: #F3F3F3;
	padding-top: 35px;
	padding-bottom: 35px;
}

#r h4 {
	color: #4D4D4D;
	font-weight: 700;
}

#r p {
	color: #4D4D4D;
}

/* Blue Wrap */

#blue {
	background: #3498db;
	padding-top: 35px;
	padding-bottom: 35px;
}

#blue h4 {
	color: white;
	font-weight: 700;
}

#blue p {
	color: white;
}



/* Footer Wrap */
#f {
	background: #a11815;
	padding-top: 20px;
	padding-bottom: 20px;
}

#f p {
	color: #fff;
	font-size: 14px;
}

/****** SECTIONS *****/
.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #F9F8F4;
	font-size: 12px;
	padding: 5px;
}
.ya {
	padding-top: 20px;} 
.title {
	padding-bottom: 30px;
}	
.tab-inline-left {
	margin-left: 16px;
	margin-right: -16px;
}
.hr-space {
	margin-top: 30px;
	margin-bottom: 30px;
}

.description {
	padding: 2em 0px;
	background: rgba(153, 153, 153, 0.05);
}
.desc-other {
	padding: 2em 0px;
	background: rgba(200, 155, 64, 0.75);
	color: #fff;
	font-weight:500;
}
.desc-other h3 {
	color: #fff;
	font-weight:500;
}



/***** MODAL CONTACT *****/
.modal-content {
	border-radius: 0px;

}

.modal-header {
	background: #0080BA;
	color: white;
}

.modal-header h4 {
	font-weight: 700;
	color: #f1f1f1;
}

.modal-body {
	background: #f2f2f2;
    font-family: "Georgia";
    font-weight: 300;
    font-size: 16px;
    color: #555;
	padding-left: 30px;
	padding-right: 30px;
}

.modal-footer {
	background: #f2f2f2;
	margin-top: 0px; 
}

/* ==========================================================================
   Flat Tables
   ========================================================================== */
.flatTable {  
  width:100%;
  min-width:500px;
  border-collapse:collapse;  
  font-weight:bold;
  color:#6b6b6b; }
  
  tr {
/*    background: #f6f3f7;*/
  	border:0px solid;
    border-bottom:rgba(0,0,0,.05) 1px solid;
  }
  th{
    color: #ffffff; 
	background: #505050;
    border:0px solid;
	text-align: left;
	}  
  td {    
    box-sizing:border-box;
    padding-left:30px;
    
  }

/*!
 * Yamm!
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm
 *
 * https://github.com/geedmo
 */
.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
  position: static;
}
.yamm .navbar-inner,
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .dropdown-menu > li {
  display: block;
}
.yamm .dropdown-submenu .dropdown-menu {
  left: 100%;
}
.yamm .nav.pull-right .dropdown-menu {
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
  *zoom: 1;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.yamm .yamm-content:after {
  clear: both;
}
.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}
.yamm-fullwidth .fa {
	color: #BA8210;
}
@media (max-width: 969px) {
  .yamm .dropdown.yamm-fullwidth .dropdown-menu {
    width: auto;
  }
  .yamm .yamm-content {
    padding-left: 0;
    padding-right: 0;
  }
  .yamm .dropdown-menu > li > ul {
    display: block;
  }
  .row {
	  padding-left: 15px;
	  padding-right: 15px;}
}
/* Adding by Pauline */
.navbar-brand {
  padding: 0px 15px 5px 15px;
}
@media (min-width: 768px) {	
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.yamm .nav {
	padding-top: 10px;
}
.form-horizontal .control-label {
  text-align: left;
}
}
/* form */
.fo {
	padding: 24px 12px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #a11815;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	cursor: pointer;
	cursor: hand;
	color: #333;
}
/* Default Tab style */
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
	content: "\e68a";
}
.icon-tools::before {
	content: "\e60a";
}
.icon-plane::before {
	content: "\e625";
}
.icon-joy::before {
	content: "\e6a4";
}
.icon-plug::before {
	content: "\e69a";
}
.icon-home::before {
	content: "\e648";
}
.icon-gift::before {
	content: "\e652";
}
.icon-display::before {
	content: "\e65e";
}
.icon-date::before {
	content: "\e660";
}
.icon-config::before {
	content: "\e666";
}
.icon-coffee::before {
	content: "\e669";
}
.icon-camera::before {
	content: "\e66f";
}
.icon-box::before {
	content: "\e674";
}

/* Content */
.content-wrap {
	position: relative;
	background: #fff;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: left;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p.form-control-static {
	text-align: left;
	font-weight: 400;
}
.content-wrap section label {
	text-align: left;}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}
/* Button Upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-inline .form-group input {
    width:auto;
}
.form-inline .form-group select.rp {
    width:auto;
}
/*** Bootstrap edited ***/
.nav .caret {
    border-top-color: #a11815 !important;
    border-bottom-color: #a11815 !important;
}
.nav .open > a .caret, .nav .open > a:hover .caret, .nav .open > a:focus .caret {
    border-top-color: #a11815 !important;
    border-bottom-color: #a11815 !important;
}
.nav a:hover .caret {
    border-top-color: #a11815 !important;
    border-bottom-color: #a11815 !important;
}
.btn-primary {
    color: #ffffff;
    background-color: #a11815;
    border-color: #F5A35D;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #505050;
  border-color: #505050;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #CAC5EC;
}