<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 th:inline="text">[[${dashboardTitle}]]</h3>
    </div>
    <br/>

<script th:src="@{/js/jquery-flot/jquery.jqplot.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.barRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.pieRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.categoryAxisRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.pointLabels.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.pieRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.donutRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.highlighter.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.cursor.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.dateAxisRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.canvasTextRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.canvasAxisLabelRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.canvasAxisTickRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.meterGaugeRenderer.js}"></script>
<script th:src="@{/js/jquery-flot/plugins/jqplot.logAxisRenderer.js}"></script>

<link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-flot/jquery.jqplot.css}"/>

<script type="text/javascript" th:inline="javascript">	
$(document).ready(function(){
    // Enable plugins like highlighter and cursor by default.
    // Otherwise, must specify show: true option for those plugins.
    $.jqplot.config.enablePlugins = true;
});
</script>

<div th:each="chart,status : ${chartList}" th:class="${status.even}? 'row'">
		<div class="col-xs-6" th:include="content/dashboard/chart :: chart(chart=${chart})"></div>
</div>
</div>
<br/><br/><br/><br/>

</html>