<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row"  >
    	<div th:object="${endpointGroup}">
	        <h3 th:if="*{id} == null" th:inline="text">[[#{label.add.endpointGroup}]]</h3>
	        <h3 th:if="*{id} != null" th:inline="text">[[#{label.edit.endpointGroup}]]</h3>
		</div>
        
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${endpointGroup}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${endpointGroup}" th:action="@{/home/settings/idxmw/endpointGroup/add(endpointGroupId=${endpointGroup.id})}">
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('groupName')} ? ' has-error'">
                <label for="groupName" class="col-sm-4 control-label" th:inline="text">[[#{label.endpointGroup.name}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="groupName" th:field="*{groupName}" th:attr="placeholder=#{placeholder.endpointGroup.name},maxlength=*{50}" autofocus="autofocus" />
                    <span class="help-block" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"></span>
                </div>
            </div>   
            
            
                 
           <div class="form-group" th:attrappend="class=${#fields.hasErrors('strGroupChilds')} ? ' has-error'">
             <label for="strGroupChilds" class="col-sm-4 control-label" th:inline="text">[[#{label.idxmw.endpointGroup.endpointList}]]*</label>
             	<div class="col-sm-8">
            		<select id="strGroupChilds"  th:field="*{strGroupChilds}" multiple="multiple" style="width: 100%">
                       <option th:each="endpoint : ${allEndpoints}" th:value="${endpoint.id}" th:text="${endpoint.name}" ></option>                       
					</select>
					<span class="help-block" th:if="${#fields.hasErrors('strGroupChilds')}" th:errors="*{strGroupChilds}"></span>
				</div>
            </div>               
            
	   <!--     <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
             <label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
             	<div class="col-sm-8">
            		<select id="status"  th:field="*{status}" class="form-control">
                       <option th:value="true" th:text="#{label.endpoint.status.true}" ></option>
                       <option th:value="false" th:text="#{label.endpoint.status.false}" ></option>
					</select>					
				</div>
            </div> -->      
            
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
            	<label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
             	<div class="col-sm-8">
	             	<input type="checkbox" th:field="*{status}" th:text="#{label.endpoint.status.true}" ></input>
             	</div>
            </div>  
            
                        
             <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                    <a th:href="@{/home/settings/idxmw/endpointGroup}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
            <input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
        </form>
    </div>

	<script type="text/javascript" th:inline="javascript">    
        $(document).ready(function() {      
        	document.getElementById("status1").checked = true;
        	$('#strGroupChilds').select2({
        		  placeholder: [[#{placeholder.endpointGroup.endpointList}]],
        		  allowClear: true
        	});
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
               
            $('a').click(function(e){
            	var dataSearch = $('#dataSearch').val();
   				var href = $(this).attr("href") + "?dataSearch=" + encodeURIComponent(dataSearch);
   				e.preventDefault();
   				location.href = href;
            });
        });
    </script>
</div>
</html>