<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<div class="container fo" th:fragment="content">
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><th th:inline="text">[[#{label.modal.confirmation.delete.idxmw.group}]]</th></h4>
      </div>
      <div class="modal-body">
         <div class="form-group" >
                <label for="paramName" class="col-sm-4 control-label" th:inline="text">[[#{label.endpointGroup.name}]]</label>
                <div class="col-sm-8">
                      <input type="text" class="form-control" id="name" name="name" maxlength="30" readonly="readonly"/>
                </div>               
        </div>
      </div>
      <div class="modal-body">
         <div class="form-group" >
                <label for="paramEndpoint" class="col-sm-4 control-label" th:inline="text">[[#{label.endpointGroup.endpoint}]]</label>
                <div class="col-sm-8">
                      <input type="text" class="form-control" id="endpoint" name="endpoint" maxlength="150" readonly="readonly"/>
                </div>               
        </div>
      </div>
      <div class="modal-body">
         <div class="form-group" >
                <label for="paramEndpoint" th:inline="text" style="color:red">[[#{label.warning.deleteEndpointGroup}]]</label>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a th:href="@{/home/settings/idxmw/endpointGroup/delete}" class="btn btn-primary" role="button" th:inline="text" name="modalConfirmDelete" id="modalConfirmDelete">[[#{label.delete}]]</a>
      </div>
    </div>
  </div>
</div>
	
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.endpointGroup}]]</h3>
        
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        
        <form id="search" class="form-horizontal">
		
			<div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="keyword" th:attr="placeholder=#{placeholder.search.endpointGroup.keyword}" autofocus="autofocus"/>
                </div>              
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
                <div class="col-sm-8">
				  <input type="radio" name="satusRadioButton" value="" checked> All<br>
				  <input type="radio" name="satusRadioButton" value="true"> Active<br>
				  <input type="radio" name="satusRadioButton" value="false"> Non Active
                </div>
            </div>

            <hr/>
            <div class="form-group">
               <div class="col-xs-6 text-left" th:if="${#authentication.principal.authorities[0].authority}==ADMIN">
                    <a th:href="@{/home/settings/idxmw/endpointGroup/add}" class="btn btn-success" role="button" th:inline="text">[[#{label.add}]]</a>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>
            <input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
        </form>
    
        <table id="table" class="table table-hover table-striped" data-keyword="" width="100%">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.no}]]</th>
                    <th th:inline="text">[[#{label.endpointGroup.name}]]</th>
                    <th th:inline="text">[[#{label.endpointGroup.child}]]</th>
                    <th th:inline="text">[[#{label.endpoint.status}]]</th>
                    <th th:inline="text">[[#{label.action}]]</th>
                    <th class="none"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th th:inline="text">[[#{label.no}]]</th>
                    <th th:inline="text">[[#{label.endpointGroup.name}]]</th>
                    <th th:inline="text">[[#{label.endpointGroup.child}]]</th>
                    <th th:inline="text">[[#{label.endpoint.status}]]</th>
                    <th th:inline="text">[[#{label.action}]]</th>
                    <th class="none"></th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
        	$('[data-tooltip="true"]').tooltip();
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.keyword=$('#table').data('keyword');
                        d.status=$('#table').data('status');
                    },
                    url:/*[[@{/home/settings/idxmw/endpointGroup/get-list}]]*/
                },
                lengthChange:true,
                ordering:true,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true,
               /*  responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal( {
                            header: function ( row ) {
                                var data = row.data();
                                return 'Details for '+data[0];
                            }
                        } ),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                            tableClass: 'table'
                        } )
                    }
                } */
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                var status = $('input[name=satusRadioButton]:checked').val();
                $('#table').data('keyword', $('#keyword').val());
                $('#table').data('status', status);
                table.ajax.reload();
                return false;
            });
            
            $('#confirmModal').on('show.bs.modal', function (event) {
            	var modal = $(this);
            	  var button = $(event.relatedTarget); // Button that triggered the modal
              	  var id = button.data('id'); // Extract info from data-* attributes
              	  var name = button.data('name');
              	  var description = button.data('desc');
              	  var endpoint = button.data('endpoint');
              	  
              	modal.find('.modal-body #name').val(name).attr('readonly',true);
              	modal.find('.modal-body #endpoint').val(endpoint).attr('readonly',true);
              	
              	var currentHref = modal.find('.modal-footer #modalConfirmDelete').attr('href');
              	currentHref = currentHref + "?endpointGroupId="+id;
              	modal.find('.modal-footer #modalConfirmDelete').attr('href',currentHref);
            });
            
            $('#table tbody').on('click', 'a', function(e) {
				var data = table.row($(this).parents('tr')).data();
				var dataSearch = {
					"keyword": $("#keyword").val(),
					"statusRadioButton": $("input[name=satusRadioButton]:checked").val()
				}
				var href = $(this).attr("href") + "&dataSearch=" + encodeURIComponent(JSON.stringify(dataSearch));
				e.preventDefault();
				location.href = href;
			});
			
			var dataSearch = $('#dataSearch').val();
			if(dataSearch != null && dataSearch != ""){
				dataSearch = JSON.parse(dataSearch);
				$('#keyword').val(dataSearch.keyword);
				$("input[name=satusRadioButton][value=" + dataSearch.statusRadioButton + "]").prop('checked', true);
				
				$('#table').data('keyword', $('#keyword').val());
                $('#table').data('status', status);
                table.ajax.reload();
				
				window.history.pushState({}, document.title, window.location.pathname);
				
				return false;
			}
			
        });
    </script>
</div>
</html>