<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row"  >
    	<div th:object="${routing}">
	        <h3 th:if="*{id} == null" th:inline="text">[[#{label.add.routing}]]</h3>
	        <h3 th:if="*{id} != null" th:inline="text">[[#{label.edit.routing}]]</h3>
		</div>
        
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${routing}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${routing}" th:action="@{/home/settings/routing/add(routingId=${routing.id})}">
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('method')} ? ' has-error'">
                <label for="method" class="col-sm-4 control-label" th:inline="text">[[#{label.routing.method}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="method" th:field="*{method}" th:attr="placeholder=#{placeholder.routing.method},maxlength=*{50}" autofocus="autofocus" />
                    <span class="help-block" th:if="${#fields.hasErrors('method')}" th:errors="*{method}"></span>
                </div>
            </div>                 
            
	    <!--    <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
             <label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
             	<div class="col-sm-8">
            		<select id="status"  th:field="*{status}" class="form-control">
                       <option th:value="true" th:text="#{label.endpoint.status.true}" ></option>
                       <option th:value="false" th:text="#{label.endpoint.status.false}" ></option>
					</select>					
				</div>
            </div>       -->   
                        
	       <div class="form-group" th:attrappend="class=${#fields.hasErrors('strEndpointGroup')} ? ' has-error'">
             <label for="strEndpointGroup" class="col-sm-4 control-label" th:inline="text">[[#{label.routing.endpointGroupList}]]*</label>
             	<div class="col-sm-8">
            		<select id="strEndpointGroup"  th:field="*{strEndpointGroup}" style="width: 100%" >
                       <option th:each="endpointGroups : ${allEndpointGroups}" th:value="${endpointGroups.id}" th:text="${endpointGroups.groupName}" ></option>                       
					</select>
					 <span class="help-block" th:if="${#fields.hasErrors('strEndpointGroup')}" th:errors="*{strEndpointGroup}"></span>
				</div>
            </div>
            
              
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
            	<label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
             	<div class="col-sm-8">
	             	<input type="checkbox" th:field="*{status}" th:text="#{label.endpoint.status.true}" ></input>
             	</div>
            </div>  
               
                        
             <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                    <a th:href="@{/home/settings/routing}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
            <input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
        </form>
    </div>

	<script type="text/javascript" th:inline="javascript">    
        $(document).ready(function() {    
        	document.getElementById("status1").checked = true;  
 /*        	$('#strEndpointGroup').select2({
      		  placeholder: [[#{placeholder.endpointGroup.endpointGroupList}]],
      		  allowClear: true
      		});
 */        	
		 	$("#strEndpointGroup").select2({
			  placeholder: [[#{placeholder.endpointGroup.endpointGroupList}]],
			  allowClear: true
			});
 
               $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
              
            $('a').click(function(e){
            	var dataSearch = $('#dataSearch').val();
   				var href = $(this).attr("href") + "?dataSearch=" + encodeURIComponent(dataSearch);
   				e.preventDefault();
   				location.href = href;
            });
               
        });
        
        
        
    </script>
</div>
</html>