<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div id="f" th:fragment="footer">
	<div class="container">
		<div class="row centered">
			<p>
				<br th:text="#{footer.organization}" /> <span
					th:text="#{footer.copyright}"> </span> &copy; <span th:text=" #{footer.rights}"></span>
			</p>
			<!-- 
            <script language="javascript">
			    var today = new Date();
 				document.write(today);
 			</script>
 			 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
</html>