<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:inline="text">[[#{app.name}]]</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />      
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.css}" />    
	<link rel="stylesheet" type="text/css" th:href="@{/css/select2.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.dataTables.min.css}" />
    
    <script th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>   
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/moment-with-locales.js}"></script>  
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>         
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script th:src="@{/js/jquery.format-1.3.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/moment-with-locales.js}"></script>        
    <script th:src="@{/js/autoNumeric-1.9.26.js}"></script> 
    <script th:src="@{/js/jquery.validate.js}"></script>
    <script th:src="@{/js/additional-methods.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/responsive.bootstrap.min.js}"></script>        
    

</head>
<body>
<div th:replace="fragment/header :: header">Header</div>
<div th:replace="${view} :: content">Content</div>
<div th:replace="fragment/footer :: footer">Footer</div>
</body>
</html>