<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div class="container fo" th:fragment="content">
	<script th:src="@{/js/daterangepicker.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/dataTables.bootstrap.css}" />
	<!-- Modal -->
	<div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document" >
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">[[#{label.log.snf.detail.delete}]]</th></h4>
			      </div>
			      <div class="modal-body" style="height:550px;">
			      
			         <div class="form-group" >
			          		<label for="tid" class="col-sm-4 control-label" th:inline="text">[[#{label.log.message.detail.snf.tid}]]</label>
			                <div class="col-sm-8">
			                      <input type="text" class="form-control" id="tid" name="tid" />
			                </div>
			                <label for="raw" class="col-sm-4 control-label" th:inline="text">[[#{label.log.message.detail.snf.raw}]]</label>
			                <div class="col-sm-8">
			                     <textArea class="form-control" id="raw" name="raw" style="height:400px;"></textArea>
			                </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			         <a th:href="@{/home/log/storeandforward/delete}" class="btn btn-primary" role="button" th:inline="text" name="modalEditSave" id="modalEditSave">[[#{label.log.snf.button.delete}]]</a>
			      </div>
			    </div>
			  </div>
		</div>
	</div>
	<div class="row">
		<h3 th:inline="text">[[#{label.log.store.and.forward}]]</h3>
		<div class="box-body" th:if="${okMessage != null and okMessage != ''}">
			<div class="alert alert-info alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${okMessage}]]
			</div>
		</div>
		<div class="box-body"
			th:if="${errorMessage != null and errorMessage != ''}">
			<div class="alert alert-danger alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${errorMessage}]]
			</div>
		</div>
		<form id="search" class="form-horizontal">
			<div class="form-group">
				<label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.log.storenforward.keyword}]]</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="q"
						th:attr="placeholder=#{placeholder.log.storeandforward.keyword}"
						autofocus="autofocus" />
				</div>
			</div>

            <div class="form-group">
                <label for="g" class="col-sm-4 control-label" th:inline="text">[[#{label.log.destination}]]</label>
                <div class="col-sm-8">
                    <select class="form-control"  id="g" name="destination">
                        <option value=""
                                th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <option value="KSEI">KSEI</option>
                        <option value="ITM">ITM</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
				<label class="col-sm-4 control-label" th:inline="text">[[#{label.log.storeandforward.time}]]</label>
				<div class="col-sm-8" id="sandbox-container">
					<input type="text" class="form-control" id="d" name="daterange"
						onkeydown="return false" />
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-xs-6 text-right">
					<button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
				</div>
			</div>

		</form>
		<table id="table" class="table table-hover table-striped"
			data-keyword="" data-authority="">
			<thead>
				<tr>
					<th th:inline="text" >[[#{label.log.storeandforward.created.date}]]</th>
					<th th:inline="text">[[#{label.log.storeandforward.trx.id}]]</th>
					<th th:inline="text">[[#{label.log.storeandforward.destination}]]</th>
					<th th:inline="text">[[#{label.log.storeandforward.last.error}]]</th>
					<th th:inline="text">[[#{label.log.storeandforward.last.retry}]]</th>
					<th th:inline="text">[[#{label.log.storeandforward.retry.count}]]</th>
					<!-- <th th:inline="text">[[#{label.log.storeandforward.raw.request}]]</th> -->
					<th th:inline="text">[[#{label.action}]]</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap.js}"></script>
	<script th:src="@{/js/modernizr-custom.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			timePicker : false,
			"linkedCalendars" : false,
			use24hours : true,
			autoUpdateInput : false,
			//timePickerIncrement: 5,
			locale : {
				format : 'DD/MM/YYYY',
				cancelLabel : 'Clear'
			}
		});

		$('input[name="daterange"]').on(
				'apply.daterangepicker',
				function(ev, picker) {
					$(this).val(
							picker.startDate.format('DD/MM/YYYY') + ' - '
									+ picker.endDate.format('DD/MM/YYYY'));
				});

		$('input[name="daterange"]').on('cancel.daterangepicker',
				function(ev, picker) {
					$(this).val('');
				});

	});
	
	
        $(document).ready(function(){
        	$('[data-tooltip="true"]').tooltip();
            var table=$('#table').DataTable({
            	order : [ [0,"desc"] ],
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.g=$('#table').data('destination');
                        d.d=$('#table').data('daterange');
                       
                    },
                    url : /*[[@{/home/log/storeandforward/get-list}]]*/''
                },
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
                lengthChange:false,
                ordering:true,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                $('#table').data('destination', $('#g').val());
                $('#table').data('daterange', $('#d').val());
               
                table.ajax.reload();
                return false;
            });
            $("#modalSubmit").click(function(e){
            	//ambil nilai dari input di modal body
            	var input = $('#lockDuration').val();
            	var url = e.target.href;
            	e.target.href = url + [[#{util.url.get.paramLockDuration}]]+input;
            	//var url = e.find('href').attr('href');
            });
            
        });   
        
        $('#buttonModal').on('show.bs.modal', function (event) {
      	  var button = $(event.relatedTarget); // Button that triggered the modal
      	  var id = button.data('id'); // Extract info from data-* attributes
      	  var raw = button.data('raw');
      	  var action = button.data('event');
      	  var tid = button.data('tid');
      	  var link = button.data('link'); 
      	      	 
      	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      	  var modal = $(this);
      	  //modal.find('.modal-body').text(id);
      	  if(action=='delete')
      		{
      	  		modal.find('.modal-title').text([[#{label.log.snf.deleted}]]);
      	  		modal.find('.modal-body labeltid').text([[#{label.snf.tid}]]);
      	  		modal.find('.modal-body #tid').val(tid).attr('readonly',true);
      	  		modal.find('.modal-body labelraw').text([[#{label.snf.raw}]]);
      	  		modal.find('.modal-body #raw').val(raw).attr('readonly',true);
      		} 
      	  
      	  var temp = modal.find('.btn-primary').attr('href');
      	  modal.find('.btn-primary').attr('href',link);
      	})
    </script>
</div>
</html>