<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div class="container fo" th:fragment="content">

	<script th:src="@{/js/daterangepicker.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/daterangepicker.css}" />


	<div class="row">
		<h3 th:inline="text">[[#{label.log.transaction.out}]]</h3>
		<div class="box-body" th:if="${okMessage != null and okMessage != ''}">
			<div class="alert alert-info alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${okMessage}]]
			</div>
		</div>
		<div class="box-body"
			th:if="${errorMessage != null and errorMessage != ''}">
			<div class="alert alert-danger alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${errorMessage}]]
			</div>
		</div>

		<form id="search" class="form-horizontal">
			<div class="form-group">
				<label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.log.extref}]]</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="q" name="keyword"
						th:attr="placeholder=#{placeholder.log.exref}"
						autofocus="autofocus" />
				</div>
			</div>

			<div class="form-group">
				<label for="s" class="col-sm-4 control-label" th:inline="text">[[#{label.log.trx.name}]]</label>
				<div class="col-sm-8">
					<select class="form-control" id="a" name="trxName">
						<option value=""
							th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
						<!--  <option th:each="activityType : ${activityType}" th:value="${activityType}" th:text="${activityName}"></option> -->
						<option value="CNF">CNF</option>
						<option value="ACK-CNF">ACK-CNF</option>
						<option value="PAYORD">PAYORD</option>
						<option value="DREF">DREF</option>
						<option value="DCNF">DCNF</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.log.sender}]]</label>
				<div class="col-sm-8">
					<select class="form-control"  id="e" name="sender">
						<option value=""
							th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
						<!--  <option th:each="activityType : ${activityType}" th:value="${activityType}" th:text="${activityName}"></option> -->
						<option value="KSEI">KSEI</option>
						<option value="ITM">ITM</option>
						</select>
				</div>
			</div>

			<div class="form-group">
				<label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.log.destination}]]</label>
				<div class="col-sm-8">
					<select class="form-control"  id="g" name="destination">
						<option value=""
							th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
						<!--  <option th:each="activityType : ${activityType}" th:value="${activityType}" th:text="${activityName}"></option> -->
						<option value="KSEI">KSEI</option>
						<option value="ITM">ITM</option>
					</select>
				</div>
			</div> 
			

			<div class="form-group">
				<label class="col-sm-4 control-label" th:inline="text">[[#{label.log.time}]]</label>
				<div class="col-sm-8" id="sandbox-container">
					<input type="text" class="form-control" id="d" name="daterange"
						onkeydown="return false" />
				</div>
			</div>


			<hr />
			<div class="form-group">
				<div class="col-xs-6 text-right">
					<button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
				</div>
			</div>
			<input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
		</form>
		<table id="table" class="table table-hover table-striped"
			data-keyword="" data-activityType="" data-rangeDate="">
			<thead>
				<tr>
					<th th:inline="text">[[#{label.log.created.date}]]</th>
					<th th:inline="text">[[#{label.log.trx.id}]]</th>
					<th th:inline="text">[[#{label.log.trx.name}]]</th>
					<th th:inline="text">[[#{label.log.sender}]]</th>
					<th th:inline="text">[[#{label.log.destination}]]</th>
					<th th:inline="text">[[#{label.log.cash.value}]]</th>
					<th th:inline="text">[[#{label.log.curcod}]]</th>
					<th th:inline="text">[[#{label.log.extref}]]</th>
					<th th:inline="text">[[#{label.log.action}]]</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th th:inline="text">[[#{label.log.created.date}]]</th>
					<th th:inline="text">[[#{label.log.trx.id}]]</th>
					<th th:inline="text">[[#{label.log.trx.name}]]</th>
					<th th:inline="text">[[#{label.log.sender}]]</th>
					<th th:inline="text">[[#{label.log.destination}]]</th>
					<th th:inline="text">[[#{label.log.cash.value}]]</th>
					<th th:inline="text">[[#{label.log.curcod}]]</th>
					<th th:inline="text">[[#{label.log.extref}]]</th>
					<th th:inline="text">[[#{label.log.action}]]</th>
				</tr>
			</tfoot>
			<!-- <tbody th:object="${messageLogs}"
				th:if="*{statusDelivery} == SUCCESS"
				style="background-color: #b97373"></tbody>
			<tbody th:object="${messageLogs}" th:if="*{statusDelivery} == FAILED"
				style="background-color: #7bd86b"></tbody> -->
		</table>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$('input[name="daterange"]').daterangepicker({
				timePicker : false,
				"linkedCalendars" : false,
				use24hours : true,
				autoUpdateInput : false,
				//timePickerIncrement: 5,
				locale : {
					format : 'DD/MM/YYYY',
					cancelLabel : 'Clear'
				}
			});

			$('input[name="daterange"]').on(
					'apply.daterangepicker',
					function(ev, picker) {
						$(this).val(
								picker.startDate.format('DD/MM/YYYY') + ' - '
										+ picker.endDate.format('DD/MM/YYYY'));
					});

			$('input[name="daterange"]').on('cancel.daterangepicker',
					function(ev, picker) {
						$(this).val('');
					});

		});
		$(document).ready(function() {
			var table = $('#table').DataTable({
				order : [ [0,"desc"] ],
				ajax : {
					data : function(d) {
						d.q = $('#table').data('keyword');
						d.a = $('#table').data('trxName');
						d.d = $('#table').data('rangeDate');
						d.e = $('#table').data('sender');
						d.g = $('#table').data('destination');
					},
					url : /*[[@{/home/log/messagelogs/get-list}]]*/''
				},
				//                columnDefs:[
				//                    {"orderable":true,"targets":3}
				//                ],
				lengthChange:false,
                ordering:true,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
			});
			
			function searchDataTable(){
				$('#table').data('keyword', $('#q').val());
				$('#table').data('trxName', $('#a').val());
				$('#table').data('rangeDate', $("#d").val());
				$('#table').data('sender', $("#e").val());
				$('#table').data('destination', $("#g").val());
				table.ajax.reload();
			}
			
			$('#search').submit(function(e) {
				e.stopPropagation();
				e.preventDefault();
				searchDataTable();
				return false;
			});

			$('#table tbody').on('click', 'a', function(e) {
				var data = table.row($(this).parents('tr')).data();
				var dataSearch = {
					"keyword": $("#q").val(),
					"trxName": $("#a").val(),
					"rangeDate": $("#d").val(),
					"sender": $("#e").val(),
					"destination": $("#g").val(),
					"note": $("#note").val()
				}
				var href = $(this).attr("href") + "&dataSearch=" + encodeURIComponent(JSON.stringify(dataSearch));
				//alert("href : " + href);
				console.log(href);
				e.preventDefault();
				location.href = href;
			});
			
			var dataSearch = $('#dataSearch').val();
			if(dataSearch != null && dataSearch != ""){
				dataSearch = JSON.parse(dataSearch);
				$('#q').val(dataSearch.keyword);
				$('#a').val(dataSearch.trxName);
				$("#d").val(dataSearch.rangeDate);
				$("#e").val(dataSearch.sender);
				$("#g").val(dataSearch.destination);
				$("#note").val(dataSearch.note);
				
				searchDataTable();
				
				window.history.pushState({}, document.title, window.location.pathname);
				
				return false;
			}
			
		});
	</script>
</div>
</html>