<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container fo" th:fragment="content">
    <div class="row"  >
    	<div th:object="${restEndpoint}">
	        <h3 th:if="*{id} == null" th:inline="text">[[#{label.add.rest.endpoint}]]</h3>
	        <h3 th:if="*{id} != null" th:inline="text">[[#{label.edit.rest.endpoint}]]</h3>
		</div>
        
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${restEndpoint}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${restEndpoint}" th:action="@{/home/settings/rest/endpoint/add(endpointId=${restEndpoint.id})}">
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
                <label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.name}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:attr="placeholder=#{placeholder.rest.endpoint.name},maxlength=*{50}" autofocus="autofocus" />
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
           
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('ipAddress')} ? ' has-error'">
                <label for="ipAddress" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.ipAddress}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ipAddress" th:field="*{ipAddress}" th:attr="placeholder=#{placeholder.rest.endpoint.ipAddress},maxlength=*{50}" onkeypress="return isNumberKey(event)" />
                    <span class="help-block" th:if="${#fields.hasErrors('ipAddress')}" th:errors="*{ipAddress}"></span>
                </div>
            </div>

 			<div class="form-group" th:attrappend="class=${#fields.hasErrors('username')} ? ' has-error'">
                <label for="username" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.username}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.rest.endpoint.username},maxlength=*{50}" />
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
            </div>
            
           <label th:if="*{id} != null" for="changePassword" th:inline="text" style="color:orange">*[[#{label.rest.endpoint.password.change}]]*</label>
            
           <div class="form-group" th:attrappend="class=${#fields.hasErrors('oldPassword')} ? ' has-error'" th:if="*{id} != null">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.oldPassword}]]*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" th:attr="placeholder=#{placeholder.rest.endpoint.oldPassword},maxlength=*{20}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
                </div>
            </div>  
            
           <div class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.password}]]*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.rest.endpoint.password},maxlength=*{20}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
		
		   <div class="form-group" th:attrappend="class=${#fields.hasErrors('confirmPassword')} ? ' has-error'">
                <label for="confirmPassword" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.confirm.password}]]*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" th:attr="placeholder=#{placeholder.rest.endpoint.confirm.password},maxlength=*{50}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
                </div>
            </div>
			
			<div class="form-group" th:attrappend="class=${#fields.hasErrors('staticKey')} ? ' has-error'">
                <label for="staticKey" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.staticKey}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="staticKey" th:field="*{staticKey}" th:attr="placeholder=#{placeholder.rest.endpoint.staticKey},maxlength=*{50}" />
                    <span class="help-block">[[#{label.rest.endpoint.hint.staticKey}]]</span>
                    <span class="help-block" th:if="${#fields.hasErrors('staticKey')}" th:errors="*{staticKey}"></span>
                </div>
            </div>
			
    
	     <!--   <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
             <label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.status}]]</label>
             	<div class="col-sm-8">
            		<select id="status"  th:field="*{status}" class="form-control">
                       <option th:value="true" th:text="#{label.rest.endpoint.status.true}" ></option>
                       <option th:value="false" th:text="#{label.rest.endpoint.status.false}" ></option>
					</select>					
				</div>
            </div>   
             -->
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('strGroupLists')} ? ' has-error'">
             <label for="strGroupLists" class="col-sm-4 control-label" th:inline="text">[[#{label.rest.endpoint.groupList}]]*</label>
             	<div class="col-sm-8">
            		<select id="strGroupLists"  th:field="*{strGroupLists}" multiple="multiple" style="width: 100%">
                       <option th:each="group : ${allEndpointGroups}" th:value="${group.id}" th:text="${group.name}" ></option>                       
					</select>
					
				</div>
            </div>    
            
            
           <div class="form-group" th:attrappend="class=${#fields.hasErrors('status')} ? ' has-error'">
            	<label for="status" class="col-sm-4 control-label" th:inline="text">[[#{label.endpoint.status}]]</label>
             	<div class="col-sm-8">
	             	<input type="checkbox" th:field="*{status}" th:text="#{label.endpoint.status.true}" ></input>
             	</div>
            </div>  
                  
                        
             <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                    <a th:href="@{/home/settings/rest/endpoint}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
            <input type="hidden" th:value="${dataSearch}" name="dataSearch" id="dataSearch" />
        </form>
    </div>

	<script type="text/javascript" th:inline="javascript">    
        $(document).ready(function() {      
        	document.getElementById("status1").checked = true;
        	$('#strGroupLists').select2({
        		  placeholder: [[#{placeholder.rest.endpointGroup.groupList}]],
        		  allowClear: true
        	});
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
            
            $('a').click(function(e){
            	var dataSearch = $('#dataSearch').val();
   				var href = $(this).attr("href") + "?dataSearch=" + encodeURIComponent(dataSearch);
   				e.preventDefault();
   				location.href = href;
            });
       });
        
        function isNumberKey(evt)
        {
           var charCode = (evt.which) ? evt.which : evt.keyCode;
           if (charCode != 46 && charCode > 31 
             && (charCode < 48 || charCode > 57))
              return false;

           return true;
        }
    </script>
</div>
</html>